<aside class="sidebar" id="sidebar">

    <div class="sidebar-header mb-3">
        <a href="index.html" class="sidebar-logo">
            <img src="img/Logo_Name.png" class="logo-full">
            <img src="img/Logo.png" class="logo-mini">
        </a>


        <button class="sidebar-toggle" id="toggleSidebar" title="Mở / Đóng menu">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>


    <ul class="nav nav-pills flex-column gap-1">
        <li class="nav-item">
            <a class="nav-link" href="index.html" data-title="Dashboard">
                <i class="fa-solid fa-house"></i>
                <span class="link-text">Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="tag.html" data-title="Tag">
                <i class="fa-solid fa-tags"></i>
                <span class="link-text">Tag</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="topic.html" data-title="Topic">
                <i class="fa-solid fa-folder"></i>
                <span class="link-text">Topic</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="code.html" data-title="Code">
                <i class="fa-solid fa-code"></i>
                <span class="link-text">Code</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="carousel.html" data-title="Carousel">
                <i class="fa-solid fa-images"></i>
                <span class="link-text">Carousel</span>
            </a>
        </li>
    </ul>

</aside>
